*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#header{
    background-color: #0C1721;
    height: 6rem;
    display: flex;
  justify-content: center;
  padding-top: 1rem;
    
}
#header img{
    animation: 1s linear 0s  alternate side;
}
.container{
    background-color: #0C1721;
    min-width: 100vh;
    min-height: 100vh;
    /* overflow: hidden; */
    display: flex;
    /* align-items: center;  */
    padding-top:2rem ;
    justify-content: space-around;
}
.container .landing_image{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    
 display: flex;
 flex-direction: column;
 align-items: center;
 /* justify-content: space-evenly; */
}
.landing_image img{
    animation: 1.5s linear 0s  alternate up;
}
.landing_image h1{
    animation: 1s linear .1s  alternate up;
    font-size: 3.5rem;
    position: relative;
    top: 2rem;
}
.landing_image p{
    animation: 1s linear .2s  alternate up;
    font-size: 1.5rem;
    position: relative;
    top: 3.5rem;
}
.container .landing_image button{
    height: 5rem;
    width: 20rem;
    background-color: #30d74c;
    border-radius: 8px;
    font-weight: 800;
    color: white;
    font-size: 1.5rem;
    border: 0;  
    cursor: pointer;
    animation: 1s linear .3s  alternate side;
    position: relative;
    top: 6rem;
}

.container .landing_image button:hover{
    background-color:#27aa3d ;
}
.container .landing_image img{
    border-radius: 8px;

}

/* form */
#formContainer{
    animation: 1s linear 0s  alternate sideR;
    max-height: 40rem;
    min-width: 30rem;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    backdrop-filter: blur(21px) saturate(180%);
    -webkit-backdrop-filter: blur(21px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    color: white;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2rem;
}
#formContainer form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 99%;
    border-radius: 8px
}
#formContainer form h1{
    font-size: 2rem;
}
#formContainer form select{
    padding: 1rem;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-weight: 700;
}
#formContainer form button{
    padding: 1rem;
    border-radius: 50px;
    border: 0;
    background-color: rgb(161, 25, 25);
    color: white;
    align-self: center;
    width: 12rem;
    cursor: pointer;
}
#formContainer form button:hover{
    background-color: rgb(187, 18, 18);
}
option{
    background-color:#0C1721 ;
}
/* anims */
@keyframes up {
    from{
        transform: translateY(1000%);
        opacity: 0;
    } 
    to{
      opacity: 0%;  
    }
    to{
        transform: translateY(0);
        opacity: 100%;
    }
}
@keyframes side{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 100%;
    }
}
@keyframes sideR{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 100%;
    }
}